.no-border {
    font-size: 18px;
    font-weight: 600;
}

.no-border,
.search-tree > .ant-select-selector
{
    border: none !important;
    box-shadow: none !important;
}

.search-container{
    width: 70%;
    height: 8vh;
    display: flex;
    gap:1px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.search-item-container{
    display: flex;
    height: 100%;
    gap:10px;
    background-color: white;
    padding: 15px;
}
.search-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-weight: bold;
    font-size: 18px;
    background-color: #333;
    color:white;
    border-width: 4px;
    border-color: #333;
    border-style: solid;
    height: 100%;
    width: 13%;
}

.search-button:hover{
    background-color:transparent;
    color:black
}

.search-button > span{
    font-size:28px;
}