/* styles.css */


  
 
  header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;  
  }
  
  main {
    padding: 20px;
    min-height: 88.7vh;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  .w-75{
    width: 75%;
  }

  .w-80{
    width: 80%;
  }

  .user-profile-button,
  .favourite-button{
    font-size: 24px;
    color:white;
  }
  .user-profile-button span{
    font-size: 17px;
  }

  
  .user-profile-button:hover,
  .favourite-button:hover{
    color: gray;
    cursor: pointer;
  }

  .close{
    position:absolute;
    top:5%;
    right: 5%;
    z-index: 1;
    font-size: 22px;
    color: red;
    cursor: pointer;
  }

  .close:hover{
    color:rgb(200, 45, 45);
    scale: 1.3;
  }

  