/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;  
  }
  
  main {
    flex: 1;
    padding: 20px;
    min-height: 88.7vh;
    width: 100%;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  .w-75{
    width: 75%;
  }

  .user-profile-button,
  .favourite-button{
    font-size: 24px;
    color:white;
  }
  .user-profile-button span{
    font-size: 17px;
  }

  
  .user-profile-button:hover,
  .favourite-button:hover{
    color: gray;
    cursor: pointer;
  }

  